<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Starter</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/register" method="post">
        <input type="text" name="txtUsername" id="" placeholder="Create a username">
        <input type="password" name="txtPassword" id="" placeholder="Create a password">
        <input type="submit" value="Register">
    </form>

    <br><br>
    <hr>

    <h1>Log in</h1>
    <form action="/login" method="post">
        <input type="text" name="txtUsername" id="" placeholder="Enter username">
        <input type="password" name="txtPassword" id="" placeholder="Enter password">
        <input type="submit" value="Log in">
    </form>


</body>
</html>